<button class="btn btn-secondary btn-outline-danger text-light btn-lg my-2" routerLink="/usuarios">Regresar</button>
<br>
<div class="card mb-3">
    <div class="card-header"><h1 class="text text-center">Formulario de Usuarios</h1></div>
    <div class="card-body">
        <form>

            <div class="form-group">
                <label for="cedula">Cedula Usuario</label>
                <input type="number" name="cedula" id="cedula" class="form-control" [(ngModel)]="usuario.cedula">
                <div class="alert alert-danger" *ngIf="error && error.cedula">
                    {{ error.cedula }}
                </div>
            </div>
            <br>
            <div class="form-group">
                <label for="nomusuario">Nombre Usuario</label>
                <input type="text" name="nomusuario" id="nomusuario" class="form-control" [(ngModel)]="usuario.nomusuario">
                <div class="alert alert-danger" *ngIf="error && error.nomusuario">
                    {{ error.nomusuario }}
                </div>
            </div>
            <br>
            <div class="form-group">
                <label for="correo">Correo</label>
                <input type="text" name="correo" id="correo" class="form-control" [(ngModel)]="usuario.correo">
                <div class="alert alert-danger" *ngIf="error && error.correo">
                    {{ error.correo}}
                </div>
            </div>
            <br>
            <div class="form-group">
                <label for="contrasena">Contraseña</label>
                <input type="password" name="contrasena" id="contrasena" class="form-control" [(ngModel)]="usuario.contrasena">
                <div class="alert alert-danger" *ngIf="error && error.contrasena">
                    {{ error.contrasena}}
                </div>
            </div>
            <br>
            <div class="form-group">
                <button type="button" class="btn btn-primary btn-outline-success text-light" (click)="crear()">
                    Crear Usuario
                </button>
            </div>
        </form>
    </div>
</div>