<div class="card">
    <div class="card-header"><h1 class="text text-center">Vendedores</h1></div>
    <div class="card-body text-primary">
        <button class="btn btn-primary my-2" routerLink="/vendedores/form">Crear Vendedor</button>
        <div class="table-responsive">

            <table class="table table-hover table-striped ">
                <thead>
                    <tr>
                        <th>Cedula</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Grupo</th>
                        <th>Ver Más</th>
                        <!-- <th>Editar</th> -->
                    </tr>
            </thead>
            <tbody>
                <tr *ngFor="let vendedor of listadeVendedores">
                    <td  *ngIf="vendedor.cedulavendedor!=1">{{ vendedor.cedulavendedor }}</td>
                    <td  *ngIf="vendedor.cedulavendedor!=1">{{ vendedor.nombreVendedor }}</td>
                    <td  *ngIf="vendedor.cedulavendedor!=1">{{ vendedor.apellidoVendedor }}</td>
                    <td  *ngIf="vendedor.cedulavendedor!=1">{{ vendedor.grupo }}</td>
                    
                    <td  *ngIf="vendedor.cedulavendedor!=1">
                        <button class="btn btn-warning btn-sm" [routerLink]="['/vendedor/',vendedor.cedulavendedor]">
                            Ver Más
                        </button>
                    </td>
                    <!-- 
                        <td>
                        <button class="btn btn-warning btn-sm" [routerLink]="['/vendedores/form/',vendedor.cedulavendedor]">
                            Editar
                        </button>
                    </td> -->

                </tr>
            </tbody>
        </table>
    </div>
    </div>
</div>